.privateCloset {
  .makeCloset{
    height: 600px;
    padding-top: 80px;
    text-align: center;
    font-size: 2rem;
    .innerBox {
      max-width:  $max-inner-width;
      width: 100%;
      margin: 0 auto;
      padding: 80px 20px;
      p {
        margin-bottom: 20px;
      }
      .userName {
        font-weight: 500;
        color: $blue;
        padding: 0 10px;
      }
      button {
        @include redButton(yes);
      }
    }
  }
}