.navigation {
  border-bottom: 1px solid $light-gray;
  position: fixed;
  width: 100%;
  background: $bg-color;
  z-index: 10;
  .inner {
    max-width: $max-page-width;
    margin: 0 20px;
    height: 80px;
    text-align: center;
    .leftColumn {
      float: left;
      h1 {
        height: 0;
        text-indent: -9999px;
      }
      .logo {
        line-height: 80px;
        cursor: pointer;
        img {
          vertical-align: middle;
        }
      }
      
    }
    .rightColumn {
      float: right;
      .closetIcon {
        position: relative;
        line-height: 80px;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
        img {
          vertical-align: middle;
        }
      }
      button {
        @include redButton(yes); 
        height: 30px;
        line-height: 30px;
        padding: 0 20px;   
      }
    }
    &:after {
      @include cfixed();
    }    
  }
}

//내 옷장 가기 아이콘
.rightColumn {
  .closetIcon {
    &:before{
      content: '';
      position: relative;
      top: 18px;
      width: 14px;
      height: 43px;
      display: inline-block;
      background: #8B572A;
      border: 1px solid gray;
      left: 16px;
    }
    &:after {
      content: '';
      position: relative;
      top: 18px;
      width: 14px;
      height: 43px;
      display: inline-block;
      background: #8B572A;
      border: 1px solid gray;
      left: -16px;    
    }
    &:hover {
      &:before {
        animation: door-left 2s infinite;
      }    
      &:after {
        animation: door-right 2s infinite; 
      }
    }
  }
}
@keyframes door-left {
  from {
     transform: perspective(500) rotateY(0deg);
     transform-origin: 0% 50%;
     
  }
  to {
     transform: perspective(500) rotateY(-110deg);
      transform-origin: 0% 50%;
      
  }
}

@keyframes door-right {
  from {
    transform: perspective(500) rotateY(0deg);
    transform-origin: 100% 50%;
 }
 to {
    transform: perspective(500) rotateY(110deg);
     transform-origin: 100% 50%;     
 }
}



//미디어쿼리
.navigation {
  @include breakpoint(phone) {
      .leftColumn .logo {
        background: url(images/small-logo.svg) no-repeat;
        height: 80px;
        width: 70px;
        background-size: 60px 70px;
        img {
          display: none;
        }
      }
    }
}