//color
$bg-color: #fff;
$dark-gray: #666;
$light-gray: #EFEFEF;
$light-red: #EA4C5A;
$hover-light-red: #EC6F75;
$black: #000;
$blue: #4A90E2;
$hover-blue: #42a5f5;

//font
$font-dark-gray: #666;
$font-light-red: #EA4C5A;
$font-white: #fff;