
$xl-desktop-width: 1240px;
$desktop-width: 875px;
$tablet-width: 768px;
$tablet-height:600px;
$iphone6plus-width: 450px;
$iphone6-width: 375px;
$phone-width: 320px;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "max-desktop" {
    @media (max-width: #{$xl-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "max-tablet" {
      @media (max-width: #{$desktop-width}) {
      @content;
    } 
  } @else if $breakpoint == "tablet-portrait" {
    @media (max-width: #{$tablet-width}) {
      @content;
    }
  } @else if $breakpoint == "phone-tablet" {
    @media (max-width: #{$tablet-height}) {
      @content;
    }
  } @else if $breakpoint == "phone" {
    @media (max-width: #{$iphone6plus-width}) {
      @content;
    }     
  } @else if $breakpoint == "phone-only" {
    @media (max-width: #{$phone-width}) {
      @content;
    } 
  }
}

@mixin cfixed () {
  content: "";
  display: block;
  clear: both;
} 

@mixin boxBorder($radius) {
  border: 1px solid $light-gray;
  background: $bg-color;
  @if $radius == yes {
    border-radius: 3px;
  } 
} 

@mixin redButton() {
  border: 1px solid $light-gray;
  border-radius: 3px;
  height: 26px;
  background: $light-red;
  color: $bg-color;
  font-size: $font-small;
  cursor: pointer;
}