.footer {
  max-width: $max-page-width;
  margin: 20px auto;
  width: 100%;
  color: $dark-gray;
  font-size: $font-small;
  .leftColumn {
    float: left;
    span {
      margin-right: 10px;
    }
  }
  .rightColumn {
    float: right;
  }
  &:after {
    @include cfixed();
  }
}
//미디어 쿼리
.footer {
  @include breakpoint(max-desktop)  {
    width: 100%;
    padding: 20px;
    margin-top: 0;
  }
  @include breakpoint(max-tablet) {
    text-align: center;
    .leftColumn {
      float: none;
      margin-bottom: 10px;
    }
    .rightColumn {
      float: none;
    }
  }
}
